/* $Id: ie.css 2012/04/19 15:28:55 WENROO Exp $ */

/**
 * @file
 * Global Novasep Styling
 * Css3 hack and some ie hack
 * Update 2014/09/19
 *
 */


/* =============================================================================
   Reset
   ========================================================================== */
img{
	-ms-interpolation-mode: bicubic;  /* set Ie img display */
	}

/* =============================================================================
   Rounded
   ========================================================================== */
b.var{
	background:url(../drupal_images/var_10.png) no-repeat;
	display:block;
	width:10px;
	height:10px;
	overflow:hidden;
	position:absolute;
	z-index:11;
	}

b.var_tl{ left:0;   top:0;   background-position:0 0;         }
b.var_tr{ top:0;    right:0; background-position:-11px 0;     }
b.var_bl{ bottom:0; left:0;  background-position:0 -11px;     }
b.var_br{ bottom:0; right:0; background-position:-11px -11px; }


/* =============================================================================
   hook lt ie 9  ie8 + ie7 + ie6
   ========================================================================== */

/**/
.lt-ie9 header,
.lt-ie9 footer,
.lt-ie9 section,
.lt-ie9 article{
	display: block;
}

@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_1455702051_3306253.eot');
  src: url('//at.alicdn.com/t/font_1455702051_3306253.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1455702051_3306253.woff') format('woff'),
  url('//at.alicdn.com/t/font_1455702051_3306253.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1455702051_3306253.svg#iconfont') format('svg');
}

.lt-ie9 #navigation .menu{
	visibility:visible;
	}
.lt-ie9 body.webmaster-menu-engulfing.webmaster-menu-fixed {
	margin-top: 30px!important;
	}	

.lt-ie9 .form-submit,
.lt-ie9 button{
	overflow:visible;
	}

.lt-ie9 input[type="checkbox"],
.lt-ie9 input[type="radio"] {
	box-sizing: border-box;
	padding: 0;

  height: 13px;
  width: 13px;
	}

.lt-ie9 textarea{
	overflow: auto;
  }

.lt-ie9 svg:not(:root) {
	overflow: hidden; /* IE9 */
  }

.lt-ie9 textarea:focus,
.lt-ie9 input:focus{
  outline: thin dotted \9;
  }

/**/
.lt-ie9 legend{
	border: 0; /* IE 6/7/8 */
	margin-left: -7px;
	}

.lt-ie9 q{
	quotes: none;
	}

.lt-ie9 audio,
.lt-ie9 canvas,
.lt-ie9 video {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	}
.lt-ie9 form,
.lt-ie9 .clearfix,
.lt-ie9 .region-help,
.lt-ie9 .tabs{ 
	zoom:1;
	}


/* TABLE */
.lt-ie9 table{
	border-collapse: collapse;
	}

.lt-ie9 tr.odd th,
.lt-ie9 tr.odd td {
  /*border-bottom: 1px solid #ccc;  IE doesn't display borders on table TR */
  }



/* =============================================================================
   hook lt ie 8 = ie7 + ie6
   ========================================================================== */
.lt-ie8 body{
	overflow-y: visible;
	}
	
.lt-ie9 body,
.lt-ie9 html,
.lt-ie9 a,
.lt-ie9 h1,
.lt-ie9 h2,
.lt-ie9 h3,
.lt-ie9 h4,
.lt-ie9 h5{
	font-family: Microsoft YaHei, Arial, 微软雅黑, 宋体, Helvetica, sans-serif;	
	}

.lt-ie8 .node-unpublished>* {
	position: relative; /* Otherwise these elements will appear below the "Unpublished" text. */
	}
.lt-ie8 form,
.lt-ie8 .clearfix{
	min-height: 1%;  /* ie7 */
	}

.lt-ie8 .node-unpublished p.unpublished > *, /* IE8 */
.lt-ie8 .comment-unpublished > * {
	position: relative; 
	}	

.lt-ie8 ul.inline li{
	display:inline;
	}
	
/* Tabs */
.lt-ie8 ul.primary li a,
.lt-ie8 ul.primary li a .tab,
.lt-ie8 ul.secondary li a,
.lt-ie8 ul.secondary li a .tab {
	display: inline-block;
	cursor: pointer;  /* Otherwise the blocks mistakenly get 100% width in IE6 */
	}
.lt-ie8 .tabs{
	border-right:none;
	float:none;
	}

/*  login page  */
body.not-logged-in #page #main-wrapper #main {
	overflow: hidden;
}
body.not-logged-in #page #main-wrapper #main #block-system-main {
	margin: -200px 0 0 -320px;
}
body.not-logged-in #page #main-wrapper #main .block-login {
	position: static;
}
